

NET "CLK25MHZ" LOC = P53;
NET "CLK25MHZ" TNM_NET = "CLK25MHZ";
TIMESPEC TS_CLK25MHZ = PERIOD "CLK25MHZ" 25 MHz HIGH 50 % INPUT_JITTER 5 ps;

NET "G[7]" LOC = P52;
NET "G[6]" LOC = P51;
NET "G[5]" LOC = P50;
NET "G[4]" LOC = P47;
NET "G[3]" LOC = P46;
NET "G[2]" LOC = P44;
NET "G[1]" LOC = P41;
NET "G[0]" LOC = P40;
NET "GPIO_RW" LOC = P55;

NET "LCD_CLK" LOC = P124;
NET "LCD_DATA" LOC = P122;
NET "LCD_LOAD" LOC = P119;
NET "LCD_CLR" LOC = P1;

NET "KBD_row[0]" LOC = P20;
NET "KBD_row[1]" LOC = P21;
NET "KBD_row[2]" LOC = P23;
NET "KBD_row[3]" LOC = P24;
NET "KBD_row[4]" LOC = P25;
NET "KBD_col[0]" LOC = P12;
NET "KBD_col[1]" LOC = P13;
NET "KBD_col[2]" LOC = P14;
NET "KBD_col[3]" LOC = P15;
NET "KBD_col[4]" LOC = P17;
NET "KBD_col[5]" LOC = P18;

NET "CLK25MHZ" IOSTANDARD = LVCMOS33;

NET "G[7]" IOSTANDARD = LVCMOS33;
NET "G[6]" IOSTANDARD = LVCMOS33;
NET "G[5]" IOSTANDARD = LVCMOS33;
NET "G[4]" IOSTANDARD = LVCMOS33;
NET "G[3]" IOSTANDARD = LVCMOS33;
NET "G[2]" IOSTANDARD = LVCMOS33;
NET "G[1]" IOSTANDARD = LVCMOS33;
NET "G[0]" IOSTANDARD = LVCMOS33;
NET "GPIO_RW" IOSTANDARD = LVCMOS33;

NET "LCD_CLK" IOSTANDARD = LVCMOS33;
NET "LCD_DATA" IOSTANDARD = LVCMOS33;
NET "LCD_LOAD" IOSTANDARD = LVCMOS33;
NET "LCD_CLR" IOSTANDARD = LVCMOS33;

NET "KBD_row[0]" IOSTANDARD = LVCMOS33;
NET "KBD_row[1]" IOSTANDARD = LVCMOS33;
NET "KBD_row[2]" IOSTANDARD = LVCMOS33;
NET "KBD_row[3]" IOSTANDARD = LVCMOS33;
NET "KBD_row[4]" IOSTANDARD = LVCMOS33;
NET "KBD_col[0]" IOSTANDARD = LVCMOS33;
NET "KBD_col[1]" IOSTANDARD = LVCMOS33;
NET "KBD_col[2]" IOSTANDARD = LVCMOS33;
NET "KBD_col[3]" IOSTANDARD = LVCMOS33;
NET "KBD_col[4]" IOSTANDARD = LVCMOS33;
NET "KBD_col[5]" IOSTANDARD = LVCMOS33;
NET "KBD_col[0]" PULLDOWN;
NET "KBD_col[1]" PULLDOWN;
NET "KBD_col[2]" PULLDOWN;
NET "KBD_col[3]" PULLDOWN;
NET "KBD_col[4]" PULLDOWN;
NET "KBD_col[5]" PULLDOWN;