

NET "RAW25MHZ" LOC = P53 | IOSTANDARD = LVCMOS33 | TNM_NET = "RAW25MHZ";
TIMESPEC TS_RAW25MHZ = PERIOD "RAW25MHZ" 25 MHz HIGH 50 % INPUT_JITTER 5 ps;

NET "G[7]" LOC = P52 | IOSTANDARD = LVCMOS33;
NET "G[6]" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "G[5]" LOC = P50 | IOSTANDARD = LVCMOS33;
NET "G[4]" LOC = P47 | IOSTANDARD = LVCMOS33;
NET "G[3]" LOC = P46 | IOSTANDARD = LVCMOS33;
NET "G[2]" LOC = P44 | IOSTANDARD = LVCMOS33;
NET "G[1]" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "G[0]" LOC = P40 | IOSTANDARD = LVCMOS33;
NET "GPIO_RW" LOC = P55 | IOSTANDARD = LVCMOS33;

NET "LCD_CLK" LOC = P124 | IOSTANDARD = LVCMOS33;
NET "LCD_DATA" LOC = P122 | IOSTANDARD = LVCMOS33;
NET "LCD_LOAD" LOC = P119 | IOSTANDARD = LVCMOS33;
NET "LCD_CLR" LOC = P1 | IOSTANDARD = LVCMOS33;

NET "PHI1" LOC = P127 | IOSTANDARD = LVCMOS33;
NET "PHI2" LOC = P128 | IOSTANDARD = LVCMOS33;
NET "SYNC" LOC = P129 | IOSTANDARD = LVCMOS33;
NET "IRQ" LOC = P130 | IOSTANDARD = LVCMOS33;
NET "RDY" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "NMIn" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "phys6502_RESn" LOC = P135 | IOSTANDARD = LVCMOS33;
NET "RES" LOC = P137 | IOSTANDARD = LVCMOS33;
NET "SO" LOC = P140 | IOSTANDARD = LVCMOS33;
NET "phys6502_BusEnableN" LOC = P141 | IOSTANDARD = LVCMOS33;
NET "RAM_csN" LOC = P112 | IOSTANDARD = LVCMOS33;
NET "OPT1_csN" LOC = P113 | IOSTANDARD = LVCMOS33;
NET "OPT2_csN" LOC = P118 | IOSTANDARD = LVCMOS33;
NET "RW" LOC = P123 | IOSTANDARD = LVCMOS33;
NET "PHI0" LOC = P125 | IOSTANDARD = LVCMOS33;
NET "EnableXceversN" LOC = P2 | IOSTANDARD = LVCMOS33;
NET "DataDir" LOC = P4 | IOSTANDARD = LVCMOS33;
NET "Drive6502BusN" LOC = P5 | IOSTANDARD = LVCMOS33;
NET "SenseRES" LOC = P6 | IOSTANDARD = LVCMOS33;

NET "D[0]" LOC = P73 | IOSTANDARD = LVCMOS33;
NET "D[1]" LOC = P74 | IOSTANDARD = LVCMOS33;
NET "D[2]" LOC = P76 | IOSTANDARD = LVCMOS33;
NET "D[3]" LOC = P77 | IOSTANDARD = LVCMOS33;
NET "D[4]" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "D[5]" LOC = P79 | IOSTANDARD = LVCMOS33;
NET "D[6]" LOC = P80 | IOSTANDARD = LVCMOS33;
NET "D[7]" LOC = P82 | IOSTANDARD = LVCMOS33;

NET "A[0]" LOC = P108 | IOSTANDARD = LVCMOS33;
NET "A[1]" LOC = P107 | IOSTANDARD = LVCMOS33;
NET "A[2]" LOC = P105 | IOSTANDARD = LVCMOS33;
NET "A[3]" LOC = P104 | IOSTANDARD = LVCMOS33;
NET "A[4]" LOC = P103 | IOSTANDARD = LVCMOS33;
NET "A[5]" LOC = P102 | IOSTANDARD = LVCMOS33;
NET "A[6]" LOC = P100 | IOSTANDARD = LVCMOS33;
NET "A[7]" LOC = P99 | IOSTANDARD = LVCMOS33;
NET "A[8]" LOC = P98 | IOSTANDARD = LVCMOS33;
NET "A[9]" LOC = P97 | IOSTANDARD = LVCMOS33;
NET "A[10]" LOC = P96 | IOSTANDARD = LVCMOS33;
NET "A[11]" LOC = P95 | IOSTANDARD = LVCMOS33;
NET "A[12]" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "A[13]" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "A[14]" LOC = P90 | IOSTANDARD = LVCMOS33;
NET "A[15]" LOC = P89 | IOSTANDARD = LVCMOS33;
NET "Ahigh[16]" LOC = P84 | IOSTANDARD = LVCMOS33;
NET "Ahigh[17]" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "Ahigh[18]" LOC = P86 | IOSTANDARD = LVCMOS33;
NET "Ahigh[19]" LOC = P87 | IOSTANDARD = LVCMOS33;

NET "KBD_row[0]" LOC = P20 | IOSTANDARD = LVCMOS33;
NET "KBD_row[1]" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "KBD_row[2]" LOC = P23 | IOSTANDARD = LVCMOS33;
NET "KBD_row[3]" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "KBD_row[4]" LOC = P25 | IOSTANDARD = LVCMOS33;
NET "KBD_col[0]" LOC = P12 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "KBD_col[1]" LOC = P13 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "KBD_col[2]" LOC = P14 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "KBD_col[3]" LOC = P15 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "KBD_col[4]" LOC = P17 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "KBD_col[5]" LOC = P18 | IOSTANDARD = LVCMOS33 | PULLDOWN;