

NET "CLK25MHZ" LOC = P53;
NET "CLK25MHZ" TNM_NET = "CLK25MHZ";
TIMESPEC TS_CLK25MHZ = PERIOD "CLK25MHZ" 25 MHz HIGH 50 % INPUT_JITTER 5 ps;

NET "G[7]" LOC = P52;
NET "G[6]" LOC = P51;
NET "G[5]" LOC = P50;
NET "G[4]" LOC = P47;
NET "G[3]" LOC = P46;
NET "G[2]" LOC = P44;
NET "G[1]" LOC = P41;
NET "G[0]" LOC = P40;


NET "G[7]" IOSTANDARD = LVCMOS33;
NET "G[6]" IOSTANDARD = LVCMOS33;
NET "G[5]" IOSTANDARD = LVCMOS33;
NET "G[4]" IOSTANDARD = LVCMOS33;
NET "G[3]" IOSTANDARD = LVCMOS33;
NET "G[2]" IOSTANDARD = LVCMOS33;
NET "G[1]" IOSTANDARD = LVCMOS33;
NET "G[0]" IOSTANDARD = LVCMOS33;
NET "CLK25MHZ" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "GPIO_RW" LOC = P55;

# PlanAhead Generated IO constraints 

NET "GPIO_RW" IOSTANDARD = LVCMOS33;
